#backgroundImageDiv {
    z-index: -10;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

#backgroundImageDiv img {
    height: 100%;
    width: 100%;
    filter: brightness(80%);
}