.bodyBanner {
    margin: 5px 0;
    padding: 20px 0;
    border-top: 1px solid var(--mid_grey);
    border-bottom: 1px solid var(--mid_grey);
}

.bodyBannerBackground {
    width: 100%;
    background-color: var(--very_dark_grey);
    border-radius: 2px;
    overflow: hidden;
}

.bodyBannerImage {
    width: 100%;
    height: 500px;
    padding: 0;
}

.bodyBannerImage img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.bodyBannerDescription {
    background-color: var(--very_dark_grey);
    padding: 10px 7px;
    box-sizing: border-box;
    font-size: 0.9em;
}

.bodyBannerDescription p {
    color: var(--light_grey);
    margin: 0;
}




