#breadcrumbs {
    padding: 15px var(--outer_padding);
    background-color: black;
    opacity: 0.7;
}

#breadcrumbsList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: white;
}

#breadcrumbsList a {
    color: rgb(187, 215, 216);
}

#breadcrumbsList a:hover {
    color: white;
}

#breadcrumbsList li {
    display: inline-block;
    margin-right: 10px;
    font-size: 1.1em;
    white-space: nowrap;
}

#breadcrumbsList li::after {
    content: "\203A";
    margin-left: 10px;
}

#breadcrumbsList li:last-child:after {
    content: "";
}

@media only screen and (max-width: 900px) {
    #breadcrumbsList li {
        font-size: 1.0em;
        margin-right: 6px;
    }

    #breadcrumbsList li::after {
        margin-left: 6px;
    }
}
.bodyTitle {
    margin: 0 0 10px 0;
    font-size: 2em;
    color: white;
}

.bodyHeader {
    color: var(--white);
    margin: 15% 20px 15% 0;
    background-color: rgba(0,0,0,0.8);
    padding: var(--outer_padding);
    max-width: 500px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top: 0.5px solid rgba(90,90,90,0.6);
    border-right: 0.5px solid rgba(90,90,90,0.6);
    border-bottom: 0.5px solid rgba(90,90,90,0.6);
}

.bodyHeader p, .bodyHeader span {
    margin: 0;
    color: var(--mid_grey);
}

@media only screen and (max-width: 650px) {
    .bodyHeader .bodyTitle {
        font-size: 1.5em;
    }

    .bodyHeader span {
        font-size: 1em;
    }
}

@media only screen and (max-width: 500px) {
    .bodyHeader .bodyTitle {
        font-size: 1.2em;
    }

    .bodyHeader span {
        font-size: 0.9em;
    }
}

@media only screen and (max-width: 450px) {
    .bodyHeader {
        margin-top: 80px;
        margin-bottom: 80px;
    }
}

@media only screen and (max-width: 400px) {
    .bodyHeader {
        margin-top: 40%;
        margin-bottom: 40%;
        border: none;
        width: 100%;
        box-sizing: border-box;
    }

    .bodyHeader .bodyTitle {
        font-size: 1.4em;
    }
}
footer {
    background-color:var(--very_dark_grey);
    color: var(--light_grey);
    font-weight: 300;
}

footer h2 {
    font-size: 1.2em;
    color: var(--white);
    margin-top: 0;
}

footer p {
    font-size: 1em;
}

footer a {
    color: var(--white);
}

footer a:hover {
    color: var(--mid_grey);
}

#about {
    font-weight: 300;
    padding: 40px var(--outer_padding);
    border-bottom: none;
    background-color: rgba(0,0,0, 0.7);
}

ul#footerCommitteeLinks {
    padding: 0;
    margin: 0;
}

#footerCommitteeLinks li {
    padding: 0;
    margin-right: 20px;
    list-style-type: none;
    display: inline-block;
}

#footerCommitteeLinks a {
    color: var(--white);
    font-size: 1.2em;
}

#footerCommitteeLinks a:hover {
    color: var(--light_grey);
}

#footerNav a {
    font-size: 1.1em;
    margin-bottom: 9px;
    display: block;
}

#bottomInfo {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: black;
    color: var(--mid_grey);
}

#leftBottomInfo {
    margin: 0;
    display: inline-block;
}

#rightBottomInfo {
    margin: 0;
    display: inline-block;
}

#rightBottomInfo a{
    color: var(--mid_grey);
}

#rightBottomInfo a:hover {
    color: var(--light_grey);
}

#footerNav {
    border-bottom: none;
    padding: 10px 0;
    padding: 20px;
    background-color: rgba(0,0,0, 0.8);
    box-shadow: 5px 5px black;
    z-index: 2;
}

#menu-footer-menu {
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    margin: 0;
}

#menu-footer-menu li {
    list-style-type: none;
    padding: 0;
    flex-basis: 0;
    flex-grow: 1;
    min-width: 175px;
}

#menu-footer-menu .sub-menu {
    margin-top: 1px;
    padding: 0;
}

#footerNav .sub-menu a {
    font-size: 0.9em;
}
.horizontalMenu {
    padding: 0px var(--outer_padding) 7px var(--outer_padding);
    color: white;
    font-size: 0.9em;
}

.horizontalMenu ul {
    margin: 0;
    padding: 1px;
}

.horizontalMenu li {
    list-style-type: none;
    text-decoration: none;
    display: inline-block;
    margin-right: 3%;
}

.horizontalMenu a {
    color: white;
}

.horizontalMenu a:hover {
    color: var(--light_blue);
}

/*desktop visibility*/

#headerNav {
    display: block;
}

#extraNav {
    display: none;
}

@media only screen and (max-width: 850px) {
    #headerNav {
        display: none;
    }

    #extraNav {
        display: block;
    }

    #sideIcons {
        display: none !important;
    }
}

/*visibility*/

#mobileMenu {
    display: none;
}

#mobileMenuContent {
    display: none;
}

/*end visibility */

#headerNav div {
    width: 100%;
}

#headerNav li li {
    display: block;
}

#siteHeader .sub-menu {
    max-height: 0;
    overflow: hidden;
    padding: 20px 5px 0 5px;
    transition: max-height 0.5s ease-in-out;
    position: absolute;
    background-color: rgba(0,0,0,0);
    z-index: 5;
}

#siteHeader .sub-menu li {
    background-color: rgba(0,0,0,0.8);
    margin: 0;
    padding: 10px;
    font-size: 1em;
}

#siteHeader .sub-menu li:first-of-type {
    padding-top: 15px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

#siteHeader .sub-menu li:last-of-type {
    padding-bottom: 15px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

#siteHeader .menu-item-has-children:hover ul {
    max-height: 500px;
}

/*media queries*/

@media only screen and (max-width: 850px) {
    #headerNav {
        position: relative;
    }

    #headerNav li {
        font-size: 1.2em;
        display: block;
        padding-bottom: 10px;
        padding-top: 10px;
        border-bottom: 1px solid var(--dark_grey);
    }

    #headerNav li:last-of-type {
        border-bottom: none;
    }

    #siteHeader .sub-menu {
        max-height: 1000px;
        overflow: visible;
        position: static;
        background-color: rgba(0,0,0,0);
    }

    #headerNav .sub-menu li {
        border-bottom: none;
        background-color: transparent;
    }
}
@media only screen and (max-width: 850px) {
    #headerNav {
        display: none;
    }

    #mobileMenu {
        display: block;
    }

    .headerButton {
        height: 65px;
        width: 65px;
        font-size: 20px;
        border: 1px solid white;
        color: white;
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 4px;
        display: inline-block;
    }

    .headerButton:first-of-type {
        margin-right: 8px;
    }

    #headerButtons {
        display: inline-flex;
        align-items: center;
    }

    .headerButton:focus {
        outline: none;
        background-color: rgba(100, 100, 100, 0.3);
    }
}
#homepageMain #featured {
    border-bottom: none;
    padding-bottom: 0;
}

#clientSection {
    border-bottom: none;
    padding: 0;
}

#resources .pageThumbnailContainer {
    height: 200px;
}

#homepageContent section {
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid var(--light_grey);
}

#homepageContent {
    padding-left: 20px;
    padding-right: 20px;
}

@media only screen and (max-width: 1200px) {
    .pageBanner .pagePreview {
        min-width: 360px;
        max-width: 10000px;
        margin-bottom: 40px;
    }
}
#sideIcons {
    display: flex;
    flex-flow: column;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px var(--outer_padding);
}

#sideIcons button {
    background-color: rgba(0,0,0,0);
    display: flex;
    border:none;
    opacity: 0.8;
    transition: opacity 0.25s ease-in-out;
    align-items: center;
    justify-content: flex-end;
}

#sideIcons button:focus {
    outline: none;
    border: none;
    opacity: 1;
}

#sideIcons button:hover {
    opacity: 1;
}

#sideIcons span {
    color: white;
    display: block;
    margin-right: 5px;
    font-size: 13px;
}

#sideIcons img {
    width: 30px;
    height: 30px;
    margin: 5px;
}
.pageBanner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: space-between;
}

.pagePreview {
    flex-basis: 250px;
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    margin: 10px;
    color: var(--dark_grey);
    margin: 10px;
}

.pageThumbnailContainer {
    border-radius: var(--radius);
    overflow: hidden;
    width: 100%;
    height: 150px;
}

.pageThumbnailContainer img {
    width: 100%;
    height: 100%;
}
#infoSidebar {
    color: var(--dark_grey);
    flex-basis: 200px;
    flex-grow: 0.1;
    flex-shrink: 5;
    position: sticky;
    top: 0;
    align-self: flex-start;
    margin-bottom: 100px;
}

#infoSidebar li {
    list-style-type: none;
}

#infoSidebar > ul {
    border-right: 1px solid var(--light_grey);
    padding-left: 5px;
    margin-left: 0;
    margin-bottom: -100px;
    margin-top: -20px;
    padding-bottom: 100px;
    padding-top: 20px;
}

#infoSidebar > ul > li {
    border-top: 1px solid var(--very_light_grey);
    padding: 7px 10px;
    margin: 0 -10px;
}

#infoSidebar > ul > li:last-of-type {
    border-bottom: 1px solid var(--very_light_grey);
}

#infoSidebar h1 {
    font-size: 1em;
}

#infoSidebar ul ul {
    padding-left: 10px;
    font-size: 0.9em;
}

#infoSidebar ul ul li {
    margin-top: 5px;
    margin-bottom: 5px;
}

#infoSidebar h1 {
    margin: 0;
}

@media only screen and (max-width: 1200px) {
    #infoSidebar {
        display: none;
    }
}
#navSidebar {
    flex-grow: 1;
    flex-basis: auto;
    position: sticky;
    top: 0;
    align-self: flex-end;
    padding-top: 20px;
}

#navSidebarHeader {
    display: block;
    padding-bottom: 15px;
    font-size: 1.2em;
}

#navSidebarHeader a {
    color: var(--turqoise);
}

#navSidebarHeader a:hover {
    color: var(--dark_blue);
}

#navSidebar ul {
    list-style-type: none;
    padding-left: 0;
}

#navSidebar > ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 50px;
}

#navSidebar > ul > li {
    border-bottom: 1px solid var(--light_grey);
}

#navSidebar li {
    padding: 9px 3px;
    margin: 0px -3px;
    font-size: 1.1em;
}

#navSidebar li li {
    padding: 4px 0;
    font-size: 0.9em;
}

#navSidebar > ul > li:first-of-type {
    margin-top: 0;
}

#navSidebar > ul > li:last-of-type {
    margin-bottom: 0;
}

#navSidebar ul ul {
    margin-left: 15px;
}
#postsSidebar {
    flex-basis: 155px;
    flex-grow: 0.1;
    flex-shrink: 0;
    margin: 0 var(--outer_padding);
    position: sticky;
    top: 0;
    align-self: flex-start;
}

#postsSidebar img {
    height: 110px;
}

#postsSidebar .pageThumbnailContainer {
    height: auto;
}

#postsSidebar h3 {
    margin: 6px 0 0 0;
    font-size: 0.8em;
}

#postsSidebar a {
    margin-left: 0;
    margin-right: 0;
}

#postsSidebar summary {
    margin-bottom: 10px;
}

#postsSidebar span {
    font-size: 0.8em;
}

/*removes inexplicable '1' after posts*/
#postsSidebar {
    color: var(--white);
}

@media only screen and (max-width: 860px) {
    #postsSidebar {
        margin-left: 0;
        margin-right: 0;
        display: flex;
        flex-basis: 500px;
        flex-grow: 1;
        flex-wrap: wrap;
        margin-top: 20px;
        justify-content: space-around;
    }

    #postsSidebar .pagePreview {
        flex-basis: 200px;
        flex-grow: 1;
        flex-shrink: 1;
        margin: 10px;
    }

}
#siteHeader {
    display: flex;
    flex-flow: column;
    align-content: center;
    background-color: rgba(0,0,0,0.7);
}

/*sets height of logo*/
#siteHeader h1 {
    display: flex;
    align-items: center;
    height: 65px;
}

#siteHeader h1 a {
    height: 100%;
    display: flex;
    align-items: center;
}

.custom-logo {
    height: 100%;
    width: auto;
}

#topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px var(--outer_padding) 15px var(--outer_padding);
}

#topBar h1 {
    margin: 0;
}

#topBar h2 {
    display: none;
}

@media only screen and (max-width: 500px) {
    #siteHeader h1 {
        width: 70px;
        overflow: hidden;
    }
}
#mainSlideshow {
    height: 500px;
    position: relative;
}

#mainSlideshow:first-child {
    opacity: 1;
    
}

#backgroundSlideshow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -10;
    border-radius: 0;
}

.slide {
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    width: 100%;
    position: absolute;
    top: 0;
}

#mainSlideshow .slide {
    overflow: hidden;
    height: 500px;
    border-radius: var(--radius);
}

#mainSlideshow .slideshowCaption {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--light_grey);
    padding: 20px;
    border-bottom-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    font-weight: lighter;
}

#backgroundSlideshow .slide {
    height: 100vh;
    width: 100vw;
}

#backgroundSlideshow .slideshowCaption {
    display: none;
}

.slide a {
    width: 100%;
    height: 100%;
}

.imageContainer {
    height: 100%;
    width: 100%;
}

#backgroundSlideshow .slide img {
    width: 100%;
    height: 100%;
}

#mainSlideshow .slide img {
    width: 100%;
    height: 100%;
}

#slideshowButtons {
    z-index: 2;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 20px;
    padding: 20px;
    border-bottom-right-radius: var(--radius);
    border-top-left-radius: var(--radius);
}
#header-widget-container {
    --subscription_font_size: 0.9em; 
    --subscription_form_height: 27px;
    height: 100%;
    align-items: center;
    margin: 20px;
}

#header-widget-container p {
    margin: 0;
    height: 100%;
}

#header-widget-container form {
    display: flex;
    height: var(--subscription_form_height);
}

#header-widget-container input {
    font-size: var(--subscription_font_size);
    transition: background-color 0.5s ease-in-out;
    background-color: var(--mid_grey);
    color: var(--light_grey);
    border-style: none;
    border-width: 0;
    border-radius: var(--radius);
    height: 100%;
    box-sizing: border-box; 
}

#header-widget-container button {
    transition: background-color 0.5s ease-in-out;
    font-size: var(--subscription_font_size);
    height: 100%;
    border-style: none;
    border-width: 0;
    border-radius: var(--radius);
    padding: 1px 10px;
    background-color: var(--dark_grey);
    color: var(--light_grey);
}

#header-widget-container input:focus,  #header-widget input:hover {
    background-color: var(--dark_grey);
    outline: none;
}

#header-widget-container button:hover {
    background-color: var(--very_dark_grey);
}

#header-widget-container input::placeholder {
   color: var(--light_grey);
}

@media only screen and (max-width: 850px) {
    #header-widget-container {
        display: none;
    }
}

