.pageBanner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: space-between;
}

.pagePreview {
    flex-basis: 250px;
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    color: var(--dark_grey);
}

a.pagePreview {
    opacity: 1;
}

.pageThumbnailContainer {
    border-radius: var(--radius);
    overflow: hidden;
    width: 100%;
    height: 150px;
}

.pageThumbnailContainer img {
    width: 100%;
    height: 100%;
}

.pagePreviewMeta {
    margin-top: auto;
    padding-top: 10px;
}

.pagePreview summary {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
}

summary .pagePreviewMeta .pagePreviewDate {
    display: block;
    font-size: 12px;
}

summary .pagePreviewMeta .pagePreviewAuthor {
    color: var(--theme-color-green);
    font-size: 1.2em;
}