@media only screen and (max-width: 850px) {
    #headerNav {
        display: none;
    }

    #mobileMenu {
        display: block;
    }

    .headerButton {
        height: 65px;
        width: 65px;
        font-size: 20px;
        border: 1px solid white;
        color: white;
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 4px;
        display: inline-block;
    }

    .headerButton:first-of-type {
        margin-right: 8px;
    }

    #headerButtons {
        display: inline-flex;
        align-items: center;
    }

    .headerButton:focus {
        outline: none;
        background-color: rgba(100, 100, 100, 0.3);
    }
}