.bodyTitle {
    margin: 0 0 10px 0;
    font-size: 2em;
}

.hasBackgroundImage .bodyTitle {
    color: white;
}

.bodyHeader {
    padding: var(--outer_padding);
    background-color: white;
    color: black;
}

.bodyHeader.noBackgroundImage {
    border-bottom: 1px solid var(--light_grey);
    padding-bottom: 30px;
    padding-top: 40px;
}

.bodyHeader.hasBackgroundImage {
    margin: 15% 20px 15% 0;
    max-width: 500px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    color: var(--white);
    background-color: rgba(0,0,0,0.8);
}

.bodyHeader p, .bodyHeader span {
    margin: 0;
    color: var(--mid_grey);
}

@media only screen and (max-width: 650px) {
    .bodyHeader .bodyTitle {
        font-size: 1.5em;
    }

    .bodyHeader span {
        font-size: 1em;
    }
}

@media only screen and (max-width: 500px) {
    .bodyHeader .bodyTitle {
        font-size: 1.2em;
    }

    .bodyHeader span {
        font-size: 0.9em;
    }
}

@media only screen and (max-width: 450px) {
    .bodyHeader {
        margin-top: 80px;
        margin-bottom: 80px;
    }
}

@media only screen and (max-width: 400px) {
    .bodyHeader {
        margin-top: 40%;
        margin-bottom: 40%;
        border: none;
        width: 100%;
        box-sizing: border-box;
    }

    .bodyHeader .bodyTitle {
        font-size: 1.4em;
    }
}