#homepageContent {
    padding-top: 10px;
}

#homepageContent #latestPosts {
    padding-top: 0;
}

/*Main Article*/

#firstBigPost {
    flex-grow: 0;
    flex-shrink: 0;
    flex-flow: row;
    flex-basis: 50%;
}

#firstBigPost .pageThumbnailContainer {
    height: 100%;
    margin-left: 10px;
}

#firstBigPost .pagePreview {
    flex-flow: row-reverse;
}

#firstBigPost summary span {
    font-size: 1.1em;
}

#firstBigPost .pagePreviewMeta {
    font-size: 14px;
}

#firstBigPost .pagePreviewMeta .pagePreviewAuthor{
    font-size: 20px;
}

#firstBigPost .pagePreview summary {
    max-width: 50%;
    box-sizing: border-box;
    padding-right: 20px;
}

#homepageContent #firstBigPost .pagePreview h3 {
    font-size: 2em;
    margin: 10px 0 20px 0;
    color: var(--theme-color-blue);
}

#asidePosts {
    margin-top: 20px;
}

/*End Main Article*/

#mediumPosts > div {
    flex-basis: 50%;
}

#secondRow {
    flex-basis: 300px;
    flex-grow: 1;
    flex-flow: row;
    justify-content: space-between;
    border-top: 1px solid var(--very_light_grey);
    padding-top: 10px;
}

#firstRow {
    padding-bottom: 10px;
}

#secondRow .pagePreview {
    max-width: 450px;
    border-right: 1px solid var(--very_light_grey);
}

#secondRow .pagePreview:last-of-type {
    border-right: none;
}


#firstRowTextPosts {
    box-sizing: border-box;
    border-left: 1px solid var(--very_light_grey);
}

#firstRowTextPosts .pagePreview {
    flex-basis: 0;
}

#firstRowTextPosts .pagePreview:first-of-type {
    border-bottom: 1px solid var(--very_light_grey);
}

#homepageContent #firstRowTextPosts .pagePreview h3 {
    margin-top: 0;
}

#secondNewsSection {
    display: flex;
    flex-flow: column;
}

#mediumPosts {
    display: flex;
}

#mediumPosts {
    border-left: 1px solid var(--very_light_grey);
}

#moreMediumNews .pagePreview {
    margin-bottom: 40px;
}

#moreMediumNews {
    flex-grow: 1;
    display: flex;
}

#moreMediumNews .pagePreview {
    flex-basis: 50%;
}

#moreSmallNews {
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
}

#moreSmallNews .pagePreview {
    flex-basis: 200px;
    flex-shrink: 0;
    flex-grow: 1;
    margin-bottom: 30px;
}

#moreSmallNews .pagePreview h3 {
    margin-top: 0;
    font-size: 1.5em;
}

#homepageContent .pagePreview h3 {
    font-size: 1.3em;
    margin-bottom: 10px;
    margin-top: 10px;
}


@media only screen and (max-width: 1200px) {
    #firstRow {
        flex-wrap: wrap;
    }
    
    #firstRow #firstBigPost {
        flex-basis: 100%;
        flex-grow: 2;
        flex-shrink: 0;
    }

    .pageBanner .pagePreview {
        min-width: 360px;
        max-width: 10000px;
        margin-bottom: 40px;
    }

    #mediumPosts {
        border-left: none;
    }
}

@media only screen and (max-width: 850px) {
    #mediumPosts {
        flex-wrap: wrap;
    }

    #mediumPosts > div {
        flex-basis: 100%;
        flex-shrink: 0;
    }

    #mediumPosts #firstRowTextPosts {
        flex-basis: 100%;
        flex-shrink: 0;
        flex-direction: row;
        border-left: none;
        border-top: 1px solid var(--very_light_grey);
        padding-top: 10px;
        margin-top: 10px;
    }

    #secondRow, #moreMediumNews {
        flex-wrap: wrap;
    }

    #secondRow .pagePreview, #moreMediumNews .pagePreview {
        flex-shrink: 0;
        flex-grow: 1;
        max-width: 1000px;
    }

    #secondRow .pagePreview {
        border-right: none;
    }
}

@media only screen and (max-width: 500px) {
    #firstBigPost .pagePreview {
        flex-flow: column;
    }

    .pagePreview {
        margin-bottom: 25px;
    }

    #firstBigPost {
        margin-left: -10px;
        margin-right: -10px;
    }

    #mediumPosts {
        margin-left: -10px;
        margin-right: -10px;
        display: flex;
        flex-wrap: wrap;
    }

    #mediumPosts .pagePreview {
        flex-basis: 250px;
        flex-shrink: 0;
        flex-grow: 2;
        box-sizing: border-box;
    }

    #secondRow {
        margin-left: -10px;
        margin-right: -10px;
    }

    #moreMediumNews {
        margin-left: -10px;
        margin-right: -10px;
    }

    #moreSmallNews {
        margin-left: -10px;
        margin-right: -10px;
    }

    #firstBigPost .pagePreview summary {
        max-width: 100%;
        margin-top: 10px;
    }

    #firstBigPost .pageThumbnailContainer {
        margin: 0;
    }

    #firstRowTextPosts {
        flex-flow: column;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 400px) {
    /*images become full width*/

    #firstBigPost .pagePreview {
        padding-top: 0;
    }

    #homepageContent #latestPosts {
        padding-top: 0;
    }

    #homepageContent .pagePreview .pageThumbnailContainer {
        margin-left: calc(var(--outer_padding)-2*var(--outer_padding)) !important;
        margin-right: calc(var(--outer_padding)-2*var(--outer_padding)) !important;
        width: 100vw;
    }

    #homepageContent {
        padding-top: 0;
    }
}

@media only screen and (max-width: 300px) {
    #mediumPosts .pagePreview {
        flex-basis: auto;
        flex-shrink: 1;
    }
    #importantPosts .pagePreview {
        flex-basis: auto;
        flex-shrink: 1;
    }
}

