.horizontalMenu {
    margin-top: 10px;
    color: white;
    font-size: 0.9em;
}

.horizontalMenu ul {
    margin: 0;
    padding: 1px;
    display: flex;
}

.horizontalMenu li {
    list-style-type: none;
    text-decoration: none;
    display: inline-block;
    margin-right: 30px;
    font-size: 1.1em;
}

.horizontalMenu a {
    color: white;
}

.horizontalMenu a:hover {
    color: var(--light_blue);
}

/*desktop visibility*/

#headerNav {
    display: flex;

    margin-left: 40px;
    margin-top: 0;
    align-items: center;
}

#extraNav {
    display: none;
}


/*visibility*/

#mobileMenu {
    display: none;
}

#mobileMenuContent {
    display: none;
}

/*end visibility */

#headerNav div {
    width: 100%;
}

#headerNav li li {
    display: block;
}

#siteHeader .sub-menu {
    max-height: 0;
    overflow: hidden;
    padding: 20px 5px 0 5px;
    transition: max-height 0.5s ease-in-out;
    position: absolute;
    background-color: rgba(0,0,0,0);
    z-index: 5;
}

#siteHeader .sub-menu li {
    background-color: rgba(0,0,0,0.8);
    margin: 0;
    padding: 10px;
    font-size: 1em;
}

#siteHeader .sub-menu li:first-of-type {
    padding-top: 15px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

#siteHeader .sub-menu li:last-of-type {
    padding-bottom: 15px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

#siteHeader .menu-item-has-children:hover ul {
    max-height: 500px;
}

/*media queries*/

@media only screen and (max-width: 500px) {
    #headerNav {
        min-width: 80%;
        margin-left: 0;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 400px) {
    #headerNav {
        width: auto;
        margin-left: auto;
        margin-right: auto;
        min-width: 0;
    }
}