#siteHeader {
    background-color: rgba(0,0,0,0.7);
}

#siteHeader.noBackgroundHeader {
    background-color: black;
}

#mainHeaderContainer {
    flex-wrap: wrap;
}


#siteHeader h1 {
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}

/*sets height of logo*/
#siteHeader h1 a {
    height: 100%;
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 30px;
}

.custom-logo {
    height: 100%;
    width: auto;
}

#topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 0;
    padding-bottom: 0;
}

#topBar h2 {
    display: none;
}

#rightButtons {
    display: flex;
    align-self: stretch;
}

.fullHeightButton {
    border-radius: 0;
    height: 100%;
    margin: 0;
    border-left: 1px solid rgba(151, 151, 151, 0.486);
    border-right: 1px solid rgba(151, 151, 151, 0.486);
}

#contactButton {
    background-color: var(--theme-color-red);
}

#subscribeButton {
    background-color: var(--theme-color-blue);
    border-right: none;
}


@media only screen and (max-width: 500px) {
    #headerContainer {
        padding-bottom: 10px;
    }

    #rightButtons {
        display: none;
    }

    #siteHeader #headerNavMobile {
        display: block;
    }
}

@media only screen and (max-width: 400px) {
    #topBar {
        flex-wrap: nowrap;
    }

    #topBar h1 {
        flex-shrink: 1;
        margin-right: 10px;
    }

    .custom-logo {
        width: 100%;
        height: auto;
    }

    #siteHeader h1 a {
        width: auto;
        height: auto;
        display: flex;
        align-items: center;
    }
}
