#siteHeader {
    background-color: rgba(0,0,0,0.7);
}

#siteHeader .maxWidth {
    display: flex;
    flex-flow: column;
    align-content: center;
    padding: 20px var(--outer_padding) 15px var(--outer_padding);

}

#siteHeader.noBackgroundHeader {
    background-color: black;
}

#headerContainer {
    flex-wrap: wrap;
}

/*sets height of logo*/
#siteHeader h1 {
    display: flex;
    align-items: center;
    height: 30px;
}

#siteHeader h1 a {
    height: 100%;
    display: flex;
    align-items: center;
}

.custom-logo {
    height: 100%;
    width: auto;
}

#topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-right: auto;
}

#topBar h1 {
    margin: 0;
}

#topBar h2 {
    display: none;
}

@media only screen and (max-width: 500px) {
    #headerContainer {
        padding-bottom: 10px;
    }
}

@media only screen and (max-width: 400px) {
    #topBar {
        width: 100%;
    }

    #topBar h1 {
        width: 100%;
        height: auto;
    }

    .custom-logo {
        width: 100%;
        height: auto;
    }

    #siteHeader h1 a {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
    }
}